
    <footer>

        <ul id="footer-nav">
            <li class="copyright">
                All content &copy; 2013 
                <a href="http://www.lengstorf.com/" 
                   rel="external" 
                   title="Jason Lengstorf">Jason Lengstorf</a> &amp; 
                <a href="http://www.leggetter.co.uk/" 
                   rel="external" 
                   title="Phil Leggetter">Phil Leggetter</a>
            </li>
            <li>
                Buy the Book: 
                <a href="http://amzn.to/15RKxF3"
                   title="Realtime Web Apps on Amazon.com (US)">USA</a> | 
                <a href="http://amzon.to/11zkLE5"
                   title="Realtime Web Apps on Amazon.co.uk (UK)">UK</a>
            </li>
            <li>
                <a href="/authors/">About the Authors</a>
            </li>
            <li>
                <a href="https://github.com/jlengstorf/realtimewebapps/">
                    Source Code
                </a>
            </li>
        </ul><!--/#footer-nav-->

    </footer>

</body>

</html>
