---
layout: internal
---

{% include header.html %}
 
    <div id="main-content" role="main">

{{ content }}

    </div><!--/#main-content-->

    <div id="book-footer" role="secondary">
        <img src="/assets/images/book-cover.png"
             title="Realtime Web Apps"
             alt="Realtime Web Apps"
             class="float-right" />
        <h2>Get Your Copy from Amazon</h2>
        <p>
            <em>Realtime Web Apps: With HTML5 WebSocket, PHP, and jQuery</em> is a guide for beginner- to intermediate-level web developers looking to take the next leap forward in website and app development: realtime. 
        </p>
        <p>
            Choose your purchasing location below and get started today:
        </p>
        <p class="buy-links">
            <a href="http://amzn.to/15RKxF3"
               title="Realtime Web Apps on Amazon.com (US)"
               class="us">USA</a><a href="http://j.mp/realtime-web-apps-uk"
               title="Realtime Web Apps on Amazon.co.uk (UK)"
               class="uk">UK</a>
        </p><!--/.buy-links-->
    </div><!--/#book-footer-->

{% include footer.html %}
