---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>
<p class="meta">
    {{ page.date | date: "%B %d, %Y" }} 
    by {{ page.author }} 
    in {{ page.categories | join: ', ' }}
</p>

<article class="post-content">
{{ content }}
</article>

<aside id="book-box">
    <img src="/assets/images/book-cover.png"
         title="Realtime Web Apps"
         alt="Realtime Web Apps"
         class="float-right" />
    <p class="buy-links">
        <a href="http://amzn.to/15RKxF3"
           title="Realtime Web Apps on Amazon.com (US)"
           class="us">USA</a><a href="http://j.mp/realtime-web-apps-uk"
           title="Realtime Web Apps on Amazon.co.uk (UK)"
           class="uk">UK</a>
    </p><!--/.buy-links-->
</aside><!--/#book-box-->